* {
  padding: 1rem;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  font-size: 1.2rem;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #ffffff;
  font-family: "Courier";
  font-size: 8pt;
  line-height: 10pt;
}

div {
  margin: 2rem;
}
